@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1B2431;
}

.navbg{
  background-image: url(/public/bg1.jpg);
  background-size: cover;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  /* background-color: red; */
}